.page{
background-color: #E27B58;
}
.photo{
border-style: solid;

}
.center{
  text-align: center;
 margin: 10px auto;
vertical-align: middle;}
.post-form{
;}
.container {
  display: flex; /* or inline-flex */
}
.bigPadding{
margin-left: 220px;

}
.boarder{
margin-right: 20px;
margin-bottom:20px;
border-style: solid;
    padding: 20px;
}


