<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>

<div class="page">
    <div class="center">
        <H1>Welcome to Mars</H1>
    </div>
    <div class="center">
        <img class="photo" src="\img\curiosity-banner.jpg" alt="Mars rover">
    </div>
    <div class="container">


        <div class="boarder bigPadding">
            <form th:action="@{/}"
                  method="POST" class="post-form">
                <label><h3>Enter field size:</h3></label>
                <input type="text"
                       minlength="2"
                       maxlength="2"
                       required="required"
                       name="fieldMap"
                >
                <small th:if="${wrongInput}" id="wrongInput"
                > Field size can be only be Two numbers between One and Nine </small>
                <label><h3>Enter Rovers mission details:</h3></label>
                <input type="text"
                       required="required"
                       name="roversMovement"
                >

                <button
                        type="submit"> Start mission
                </button>
            </form>
        </div>

        <div id="rovers" class="boarder"

        >
            <H3> Rovers</H3>

                <th:block
                        th:each="rover:${rovers}"
                        th:object="${rover}">
                    <div>
                    <span th:text="|Rover number: *{roverNumber}| "> Some longer sample text</span>
                    <span th:text="|Coordinates: X:*{x} and Y:*{y}| "> Some longer sample text</span>
                    <span th:text="|Direction: *{lookingDirection}| "> Some longer sample text</span>
            </div>
                </th:block>



        </div>


    </div>

</div>
<script src="/js/data.js"></script>
</body>
</html>